# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (VERY IMPORTANT)
.env
.env.local

# Build folders
dist/
build/

# React
.vite/
.cache/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
